# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# mypy / pytype / ruff
.mypy_cache/
.pytype/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# macOS
.DS_Store
